@import '_config'
@import '_navigationPanel'
//@import '_projects'
@import '_preloader'
@import '_home'

    
@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant:300i)
    

.parallax 
    background-size: cover
    background-attachment: fixed
    background-position: center center
    width: 100%
    height: 100vh

.projectsContainer
    display: flex
    flex-direction: column
    width: 100%
    background: no-repeat center center fixed
    background-size: cover
    animation: test 2s linear


@keyframes test
    0%
        background-color: rgba(0,0,0,1)
    100%
        background-color: rgba(0,0,0,0.8)


.projectsHeader
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    align-items: center
    color: white
    &__projectName
    text-align: center
    h1
        transition: all 0.5s linear
        font-size: 50px
    p
        font-size: 20px
    &__projectIntroduction
        margin: 0 30px 0 30px
        h3
            font-size: 25px
            transition: all 0.5s linear
        p
            text-align: center
            font-family: 'Cormorant Infant', serif
            font-size: 1.4em
            text-indent: 2em
            line-height: 1.5em       
    &__projectInfo
        display: flex
        position: absolute
        bottom: 20px
        left: 20px
        ul
            list-style: none
            display: flex
            flex-direction: column
            li
                text-align: start

.projectContent
    mark
        background: none
        color: #02FFFF
    display: flex
    flex-direction: column
    margin: 10px


.mainProblem
    margin: 5% 0 10% 0
    text-align: center
    color: white


.projectObjective
    display: flex
    width: 50%
    flex-direction: column
    justify-content: flex-start
    color: white
    h2
        margin-bottom: 20px

.projectExplanation
    display: grid
    margin-top: 100px
    grid-template-rows: auto 1fr 300px auto
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    grid-gap: 40px
    color: white
    h2
        grid-column-start: 1
        grid-column-end: 6
    &__problem
        grid-column-start: 2
        grid-column-end: 3
    &__solution
        grid-column-start: 4
        grid-column-end: 5

    figure
        grid-column-start: 2
        grid-column-end: 5
        img
            width: 100%
            height: 100%
            max-height: 100%
    &__imageText
        grid-column-start: 2
        grid-column-end: 5
        text-align: center

.projectStack
    display: flex
    flex-direction: column
    margin: 10% auto 10% auto
    h3
        text-align: center
        margin: 20px
        color: white
    figure
        img
            margin: 5px
            width: 50px
            height: 50px
            max-heigiht: 100%

.footer
    display: flex
    justify-content: space-between
    h3
        margin: 30px
        color: white





    
