@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant:300i);
* {
  margin: 0px;
  padding: 0px; }

html {
  margin: 0px;
  padding: 0px; }

.navigationPanel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menuContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.menuIcon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.dots {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 40px;
  border: none;
  background: transparent;
  z-index: 10;
  cursor: pointer; }
  .dots:focus {
    outline: none; }
  .dots:after, .dots:before, .dots span {
    width: 20%;
    height: 20%;
    -webkit-border-radius: 100px;
            border-radius: 100px;
    border: solid 1px #2B2B2B;
    position: absolute;
    left: 0px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    left: 1%;
    right: 1%;
    margin: 0 auto; }
  .dots:after, .dots:before {
    content: ""; }
  .dots:after {
    top: -10%;
    margin-top: 0px; }
  .dots:before {
    bottom: -10%;
    margin-bottom: 0px; }
  .dots span {
    top: 50%;
    margin-top: -4px; }

.on:after {
  border: none;
  background: #2B2B2B;
  -webkit-transform: rotate(135deg) translate(9px, -9px);
      -ms-transform: rotate(135deg) translate(9px, -9px);
          transform: rotate(135deg) translate(9px, -9px);
  width: 100%; }

.on:before {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  bottom: 50%;
  margin-bottom: -2px;
  width: 100%; }

.on span {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

.on:after, .on:before, .on span {
  border: none;
  background: #2B2B2B; }

.navShown {
  display: visible;
  background: none; }
  .navShown ul {
    margin-left: 10px;
    list-style: none; }
  .navShown li {
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    background: #2B2B2B;
    padding: 10px;
    margin-left: 20px;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    width: 20px;
    height: 20px;
    float: right; }
    .navShown li img {
      width: 100%;
      height: 100%; }
    .navShown li span {
      position: absolute;
      margin: 20px 0 0 -15px;
      width: 0px;
      height: 0px;
      overflow: hidden;
      opacity: 0;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      padding: 5px;
      -webkit-transition: all ease-in-out 0.4s;
      -o-transition: all ease-in-out 0.4s;
      transition: all ease-in-out 0.4s; }
    .navShown li:hover span {
      margin: 40px 0 0 -35px;
      opacity: 1;
      width: auto;
      height: auto; }

.navHidden {
  visibility: hidden; }
  .navHidden ul {
    margin-left: 10px;
    list-style: none; }
  .navHidden li {
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    background: #2B2B2B;
    padding: 10px;
    margin-left: -40px;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    width: 20px;
    height: 20px;
    float: right; }
    .navHidden li img {
      width: 100%;
      height: 100%; }
    .navHidden li span {
      opacity: 0; }

.topRight {
  position: absolute;
  top: 10px;
  right: 30px;
  border: 1px solid white;
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .topRight_projects:before {
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: white;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: -1; }
  .topRight_projects:hover {
    padding: 10px; }
    .topRight_projects:hover:before {
      width: 100%; }
  @media screen and (orientation: portrait) {
    .topRight {
      position: fixed; } }

@-webkit-keyframes aboutMeAnimation {
  0% {
    background-color: none;
    width: 50%; }
  100% {
    background-color: blue;
    width: 100%; } }

@keyframes aboutMeAnimation {
  0% {
    background-color: none;
    width: 50%; }
  100% {
    background-color: blue;
    width: 100%; } }

@media screen and (orientation: portrait) {
  .topRight_home {
    background: #2B2B2B; } }

.topRight_home:before {
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: white;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: -1; }
  @media screen and (orientation: portrait) {
    .topRight_home:before {
      background: #00fb00; } }

.topRight_home:hover {
  padding: 10px;
  color: #00fb00; }
  @media screen and (orientation: portrait) {
    .topRight_home:hover {
      color: white; } }
  .topRight_home:hover:before {
    width: 100%; }

.langContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  grid-template-rows: auto;
  top: 0px;
  left: 0px;
  right: 0px; }

.lang {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear; }

.en {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #2B2B2B;
  padding-right: 2px;
  padding-left: 2px;
  -webkit-border-radius: 0 0 0 5px;
          border-radius: 0 0 0 5px; }

.ru {
  cursor: pointer;
  color: #2B2B2B;
  background-color: #FFFFFF;
  padding-right: 2px;
  padding-left: 2px;
  -webkit-border-radius: 0 0 5px 0;
          border-radius: 0 0 5px 0; }

.active {
  background: none;
  cursor: default; }

.displayPreloader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  background: black;
  z-index: 40;
  color: white;
  -webkit-animation: closePreloader 2s linear 6s;
          animation: closePreloader 2s linear 6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes closePreloader {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes closePreloader {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.greetings1, .greetings2 {
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-template-rows: 1fr; }
  .greetings1 p, .greetings2 p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 100;
    -webkit-animation: preloader 1s ease-out;
            animation: preloader 1s ease-out; }

.greetings1 {
  grid-template-columns: repeat(8, 1fr);
  width: 200px; }
  .greetings1 p {
    font-size: 40px; }

.greetings2 {
  grid-template-columns: repeat(23, 1fr);
  width: 350px; }
  .greetings2 p {
    font-size: 20px; }

#preloader {
  width: 100%;
  height: 100%;
  z-index: 30;
  position: absolute; }
  #preloader img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 30; }

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    transfrom: scale(1); }
  100% {
    transfrom: scale(0); } }

@keyframes preloader {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    transfrom: scale(1); }
  100% {
    transfrom: scale(0); } }

.closePreloader {
  display: none; }

.homeContainer {
  display: grid; }

.homeContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh; }
  @media screen and (orientation: portrait) {
    .homeContent {
      grid-template-columns: 1fr; } }

.portrait {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .portrait img {
    width: 400px;
    height: 400px; }
    @media screen and (orientation: portrait) {
      .portrait img {
        width: 100px;
        height: 100px; } }

.homeAboutMe {
  background-color: #2B2B2B;
  color: #FFFFFF;
  padding: 20% 5% 10% 5%;
  font-size: 15px;
  overflow-y: scroll; }
  .homeAboutMe h1 {
    font-size: 4.5em;
    font-weight: lighter;
    color: #00fb00; }
  .homeAboutMe h3 {
    font-size: 1.1em;
    margin-top: 30px;
    margin-bottom: 30px; }
  .homeAboutMe p {
    font-size: 1.1em;
    line-height: 1.5em; }
  .homeAboutMe strong {
    color: #00fb00;
    margin-left: 2px;
    text-decoration: underline;
    cursor: pointer; }
  .homeAboutMe span {
    width: 10%; }
  @media screen and (orientation: portrait) {
    .homeAboutMe {
      overflow-y: hidden; } }

.parallax {
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  height: 60vh; }

.projectsContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
          background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation: test 2s linear;
          animation: test 2s linear; }

@-webkit-keyframes test {
  0% {
    background-color: black; }
  100% {
    background-color: rgba(0, 0, 0, 0.8); } }

@keyframes test {
  0% {
    background-color: black; }
  100% {
    background-color: rgba(0, 0, 0, 0.8); } }

.projectsContent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white; }

.projectsHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  align-items: center;
  color: white;
  text-align: center; }
  .projectsHeader h1 {
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    font-size: 50px; }
  .projectsHeader p {
    font-size: 20px; }
  .projectsHeader__projectIntroduction h3 {
    font-size: 25px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear; }
  .projectsHeader__projectIntroduction p {
    text-align: center;
    font-family: 'Cormorant Infant', serif;
    font-size: 1.4em;
    text-indent: 2em;
    line-height: 1.5em; }

/*     &__role
        display: flex
        justify-content: center
        align-self: end
        font-size: 15px
    &__projectInfo
        display: flex
        justify-content: center
        div
            display: flex
            justify-content: space-around
            height: 20px
            margin-left: 15px
            margin-right: 15px
            strong
                height: 20px
            p
                display: flex
                height: 20px
                margin-left: 5px

     */
.projectCenter {
  display: grid;
  grid-template-rows: 3fr 1fr; }
  .projectCenter__projectNext {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer; }
    .projectCenter__projectNext p {
      padding: 10px; }

.projectsLink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 20px; }
  .projectsLink a {
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear; }

.lang-projects span {
  background: none !important;
  color: white;
  -webkit-border-radius: 0;
          border-radius: 0; }

#hiromantProject {
  color: #bea968; }

#velaProject {
  color: #243df2; }

.velaProject {
  border-bottom: solid 1px #243df2; }

.hiromantProject {
  border-bottom: solid 1px #bea968; }

.testClass {
  position: absolute;
  width: 200%;
  height: 100vh;
  -webkit-filter: blur(5px);
          filter: blur(5px); }
