@import url(https://fonts.googleapis.com/css?family=Mrs+Sheppards);
* {
	margin: 0px;
	padding: 0px;
}

html {
	margin: 0px;
	padding: 0px;
}

.menu {
	position: absolute;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	cursor: pointer;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	background-color: #2bd52b;
}
.menu img {
	width: 100%;
	z-index: 5;
}
@media screen and (orientation: portrait) {
	.menu {
		position: fixed;
	}
}

.closeModalWindow {
	display: none;
	width: 0;
	height: 0;
}

.displayModalWindow {
	display: grid;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 100px;
	color: red;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-animation: mymove 0.2s ease-out;
	animation: mymove 0.2s ease-out;
}

@-webkit-keyframes mymove {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes mymove {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.modalMenu {
	display: grid;
	position: absolute;
	width: 500px;
	height: 400px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	padding: 10px;
	font-size: 15px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-color: #2b2b2b;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	justify-self: center;
	justify-items: center;
}

.closeModal {
	position: absolute;
	display: grid;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	width: 25px;
	height: 25px;
	top: 0px;
	right: 0px;
	background-color: red;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	cursor: pointer;
}

.modalItem {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 2px;
	width: 100px;
	height: 100px;
	-webkit-box-align: top;
	-webkit-align-items: top;
	-ms-flex-align: top;
	align-items: top;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: white;
	text-decoration: none;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.modalItem:hover {
	color: #00fb00;
}
.modalItem img {
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-animation: itemMove 1.5s Ease-in-out;
	animation: itemMove 1.5s Ease-in-out;
}
.modalItem img:hover {
	-webkit-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
}
.modalItem span {
	display: grid;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@-webkit-keyframes itemMove {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	15% {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}
	30% {
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	45% {
		-webkit-transform: rotate(3deg);
		transform: rotate(3deg);
	}
	60% {
		-webkit-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}
	75% {
		-webkit-transform: rotate(1deg);
		transform: rotate(1deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes itemMove {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	15% {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}
	30% {
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	45% {
		-webkit-transform: rotate(3deg);
		transform: rotate(3deg);
	}
	60% {
		-webkit-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}
	75% {
		-webkit-transform: rotate(1deg);
		transform: rotate(1deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

.projectsContainer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.8);
	overflow-y: scroll;
	-webkit-animation: test 2s linear;
	animation: test 2s linear;
}

.projectsBackgroundImg {
	position: absolute;
	z-index: -100;
	width: 100%;
	height: 100vh;
	background-color: black;
}

@-webkit-keyframes test {
	0% {
		background-color: black;
	}
	100% {
		background-color: rgba(0, 0, 0, 0.8);
	}
}

@keyframes test {
	0% {
		background-color: black;
	}
	100% {
		background-color: rgba(0, 0, 0, 0.8);
	}
}

.projectsTop {
	height: 50px;
}

.topRight {
	position: absolute;
	top: 0px;
	right: 20px;
	border: 1px solid white;
	padding: 5px;
	margin: 10px;
	font-size: 20px;
	text-decoration: none;
	color: white;
	cursor: pointer;
	z-index: 3;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.topRight_projects:before {
	width: 0%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	background: white;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: -1;
}
.topRight_projects:hover {
	padding: 10px;
}
.topRight_projects:hover:before {
	width: 100%;
}
@media screen and (orientation: portrait) {
	.topRight {
		position: fixed;
	}
}

@-webkit-keyframes aboutMeAnimation {
	0% {
		background-color: none;
		width: 50%;
	}
	100% {
		background-color: blue;
		width: 100%;
	}
}

@keyframes aboutMeAnimation {
	0% {
		background-color: none;
		width: 50%;
	}
	100% {
		background-color: blue;
		width: 100%;
	}
}

.projectsContent {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	color: white;
}

.projectHead {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	width: 100%;
	height: 100%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.projectHead__role {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-self: end;
	-ms-flex-item-align: end;
	align-self: end;
	font-size: 15px;
}
.projectHead__projectName {
	text-align: center;
}
.projectHead__projectName h1 {
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	font-size: 50px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.projectHead__projectName p {
	font-size: 20px;
}
.projectHead__projectInfo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.projectHead__projectInfo div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	height: 20px;
	margin-left: 15px;
	margin-right: 15px;
}
.projectHead__projectInfo div strong {
	height: 20px;
}
.projectHead__projectInfo div p {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 20px;
	margin-left: 5px;
}

.projectCenter {
	display: grid;
	grid-template-rows: 3fr 1fr;
}
.projectCenter__projectIntroduction {
	display: grid;
	grid-template-rows: 1fr 3fr;
	justify-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.projectCenter__projectIntroduction h3 {
	font-size: 25px;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.projectCenter__projectIntroduction p {
	text-align: center;
	font-family: 'Cormorant Infant', serif;
	font-size: 1.4em;
	text-indent: 2em;
	line-height: 1.5em;
}
.projectCenter__projectNext {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
}
.projectCenter__projectNext p {
	padding: 10px;
}

.projectsLink {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin-top: 20px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-decoration: none;
	font-size: 20px;
	margin-bottom: 20px;
}
.projectsLink a {
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.lang-projects span {
	background: none !important;
	color: white;
	-webkit-border-radius: 0;
	border-radius: 0;
}

#hiromantProject {
	color: #bea968;
}

#velaProject {
	color: #243df2;
}
#moonbook {
	color: #15e2ed;
}

.velaProject {
	border-bottom: solid 1px #243df2;
}

.hiromantProject {
	border-bottom: solid 1px #bea968;
}
.moonbook {
	border-bottom: solid 1px #15e2ed;
}

.testClass {
	position: absolute;
	width: 200%;
	height: 100vh;
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

.displayPreloader {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: absolute;
	background: black;
	z-index: 40;
	color: white;
	-webkit-animation: closePreloader 2s linear 6s;
	animation: closePreloader 2s linear 6s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes closePreloader {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes closePreloader {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.greetings1,
.greetings2 {
	display: grid;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-items: center;
	grid-template-rows: 1fr;
}
.greetings1 p,
.greetings2 p {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: 100;
	-webkit-animation: preloader 1s ease-out;
	animation: preloader 1s ease-out;
}

.greetings1 {
	grid-template-columns: repeat(8, 1fr);
	width: 200px;
}
.greetings1 p {
	font-size: 40px;
}

.greetings2 {
	grid-template-columns: repeat(23, 1fr);
	width: 350px;
}
.greetings2 p {
	font-size: 20px;
}

#preloader {
	width: 100%;
	height: 100%;
	z-index: 30;
	position: absolute;
}
#preloader img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 30;
}

@-webkit-keyframes preloader {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	50% {
		transfrom: scale(1);
	}
	100% {
		transfrom: scale(0);
	}
}

@keyframes preloader {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	50% {
		transfrom: scale(1);
	}
	100% {
		transfrom: scale(0);
	}
}

.closePreloader {
	display: none;
}

.homeContainer {
	display: grid;
}

.homeContent {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100vh;
}
@media screen and (orientation: portrait) {
	.homeContent {
		grid-template-columns: 1fr;
	}
}

.portrait {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-webkit-box-align: end;
	-webkit-align-items: end;
	-ms-flex-align: end;
	align-items: end;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0% 10% 0% 0%;
}
.portrait img {
	max-width: 88%;
	max-height: 100%;
}

.homeAboutMe {
	background-color: #2b2b2b;
	color: #ffffff;
	padding: 20% 5% 10% 5%;
	font-size: 15px;
	overflow-y: scroll;
}
.homeAboutMe h1 {
	font-size: 4.5em;
	font-weight: lighter;
	color: #00fb00;
}
.homeAboutMe h3 {
	font-size: 1.1em;
	margin-top: 30px;
	margin-bottom: 30px;
}
.homeAboutMe p {
	font-size: 1.1em;
	line-height: 1.5em;
}
.homeAboutMe strong {
	color: #00fb00;
	margin-left: 2px;
	text-decoration: underline;
	cursor: pointer;
}
.homeAboutMe span {
	width: 10%;
}
@media screen and (orientation: portrait) {
	.homeAboutMe {
		overflow-y: hidden;
	}
}

@media screen and (orientation: portrait) {
	.topRight_home {
		background: #2b2b2b;
	}
}

.topRight_home:before {
	width: 0%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	background: white;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: -1;
}
@media screen and (orientation: portrait) {
	.topRight_home:before {
		background: #00fb00;
	}
}

.topRight_home:hover {
	padding: 10px;
	color: #00fb00;
}
@media screen and (orientation: portrait) {
	.topRight_home:hover {
		color: white;
	}
}
.topRight_home:hover:before {
	width: 100%;
}

.langContainer {
	display: grid;
	position: absolute;
	grid-template-rows: auto;
	width: 100%;
	top: 0px;
}

.lang {
	display: grid;
	margin: auto;
	grid-template-columns: 1fr 1fr;
	-webkit-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}

.en {
	cursor: pointer;
	color: #ffffff;
	background-color: #2b2b2b;
	padding-right: 2px;
	padding-left: 2px;
	-webkit-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}

.ru {
	cursor: pointer;
	color: #2b2b2b;
	background-color: #ffffff;
	padding-right: 2px;
	padding-left: 2px;
	-webkit-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
}

.active {
	background: none;
	cursor: default;
}

.menu_intext {
	width: 25px;
	height: 25px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	cursor: pointer;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	background-color: #2bd52b;
	margin-left: 10px;
}
.menu_intext img {
	width: 100%;
	height: 100%;
}

.menu_intext_p {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
